<div class="container">
<h2>管理画面</h2>

	<div class="row">
		<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="admin_menu">
					<button type="button" class="btn btn-success">
				   		<h3><%= link_to 'ユーザー一覧', admin_users_path %></h3>
					</button>
				</div>
			</div>
		<div class="col-md-3"></div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="admin_menu">
					<button type="button" class="btn btn-success">
				    	<h3><%= link_to '体験談一覧', admin_experiences_path %></h3>
				    </button>
				</div>
			</div>
		<div class="col-md-3"></div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="admin_menu">
					<button type="button" class="btn btn-success">
				    	<h3><%= link_to '悩み事一覧', admin_problems_path %></h3>
				    </button>
				</div>
			</div>
		<div class="col-md-3"></div>
	</div>
</div>