<h2>ユーザー一覧(管理画面)</h2>


		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2"></div>

				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12">
						  <h2>ユーザー一覧</h2>
							<div class="border">
								<table class="table table-borderless">
									<thead>
											<tr>
											  <th></th>
											  <th>ユーザーネーム</th>
											  <th></th>
											</tr>
									</thead>

									<tbody>
										  <% @users.each do |user| %>
											<tr>
											  <td>
										        <%= attachment_image_tag user, :user_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no.image.jpeg", size:"60x60" %></td>
											  <td>
												<%= link_to user.name, admin_user_path(user.id) %>
											  </td>
											  <td>
												<%= link_to "削除", admin_user_path(user.id), method:  :delete, data: {confirm: 'are you sure?'} %>
											  </td>
											</tr>
										  <% end %>
										<%= paginate @users, class: "paginate" %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>

